body{
    font-family: 'Montserrat', sans-serif;
    /* background: rgb(255, 255, 255); */
    font-size: 15px;
    line-height: 1.6;
    color:rgb(0, 0, 0);
    margin: 0;
}
*,::after,::before{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
hr{
    border: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 40px 0;
}
/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Intro */
.intro{
    width: 100%;
    height: 100vh;
    background: url("../img/images/bg_intro.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro__title{
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .95;
    /* text-align: center; */
    color: #fff;
}
.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro__suptitle{
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-align: center;
    
    
}
.intro__title:after{
    content: "";
    display:block;
    width: 65px;
    height: 3px;
    background-color: #fff;
    margin:40px auto;
}
/* Header */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin-top: 30px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header__logo{
    font-size:30px;
    font-weight: 700;
    color:#fff;
}
.nav{
    text-transform: uppercase;
    font-size: 14px;
    color:#fff;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin:0 30px;
    color:#fff;
    text-decoration: none;
    transition: color .2s linear;
    position: relative;
    
}
.nav__link:after{
    content: "";
    display: block;
    position:absolute;
    width: 100%;
    height: 2px;
    background-color:#fce38a;;
    top:100%;
    left:0;
    z-index:1;
    opacity:0;
    transition: opacity .1s linear;
}
.nav__link:hover{
    color:#fce38a;
}
.nav__link:hover:after, 
.nav__link.active:after{
    /* display: block; */
    opacity: 1;
}
.nav__link.active{
    color:#fce38a;
}
/* Button */
.btn{
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 12px 24px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color .2s linear,opacity .1s linear, color .1s linear;
}

.btn:hover{
    background-color: #fff;
    color: rgb(108, 91, 23);
    opacity: .8;
}

/* Intro: SLider */

.slider{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider__inner{
    display: flex;
    justify-content: space-between;
}
.slider__item{
    width:22%;
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    padding: 10px 0;
    border-top: 3px solid #fff;
    opacity:.7;
    position: relative;
}
.slider__item.active{
    opacity:1;
}
.slider__item.active:before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: red;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 2;
}
.slider__num{
    font-size: 24px;
    font-weight:700;
    margin-right: 5px;
}

/* Section */
.section{
    padding: 70px 0;
}
.section--devices{
    background: url("../img/devices/bg.jpg") center no-repeat;
    background-size: cover;
    padding-bottom: 0;
    margin-bottom: 40px;
}
.section--gray{
    background-color: #f8f8f8;
}
.section--clients{
    background: url(..//img/clients/clients_bg.jpg);
    -webkit-background-size:cover;
    background-size: cover;
}
.section__header{
    /* margin-bottom: 40px; */
    width: 100%;
    max-width: 950px;
    margin:0 auto 50px;
    text-align: center;
}
.section__suptitle{
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive; 
}
.section__title{
    font-size: 30px;
    color: #333;
    font-weight: 700;
    /* font-family: 'Kaushan Script', cursive;  */
    text-transform: uppercase;
}
.section__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto;
}
.section__text{
    color: #999;
    font-size: 15px;
}
.section--map{
    background: url(..//img/map/bg.jpg);
    background-size: cover;
    padding: 40px 0;
    /* width: auto; */
}

/* Card */
.card{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.card__item{
    width: 380px;
    
}
.card__img{
    background: linear-gradient(to bottom,#f38181, #fce38a) ;
    transition: transform .1s linear;
}
.card__item:hover .card__img{
    transform: translate3d(-10px,-10px, 0) ;
    }
.card__item:hover .card__img img{
opacity: 0.1;
}
.card__inner{
    background-color: #95e1d3;
    position: relative;
}
.card__img img{
    transition: opacity .2s linear;
    display: block;
}
.card__text{
    width: 100%;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0,-50%,0);
    opacity: 0;
    transition: opacity .2s linear;
}
.card__item:hover .card__text{
    opacity:1;
}
.card__info{
    margin-top: 20px;
    text-align: center;
}
.card__name{
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
}
.card__prof{
    font-size: 15px;
    color:#999;
    font-style: italic;
    font-weight: 300;
}

/* Statistics */
.statistics{
    background-color: #95e1d3;
}
.stat{
    display:flex;
}
.stat__item{
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color:#fff;
    padding: 70px 20px;
}
.stat__item:last-child{
    border-right: 1px solid #b5eae0;
}
.stat__count{
    font-size: 72px;
    font-weight: 700;
    }
.stat__text{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
}

/* Services */
.services{
    display: flex;
}
.services__item{
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}
.services__icon{
    position: absolute;
    top: 5px;
    left: 25px;
    z-index: 1;
}
.services__title{
    font-size: 14px;
    color:#333;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.services__text{
    font-size: 15px;
    color:#999;
}
/* Devices */
.devices{
     width: 100%;
     max-width: 600px;
     margin: 0 auto;
     position: relative;
}
.devices__item{
    display: block;
}
.devices__item2{
    position:absolute;
    bottom:-90px;
    right:0;
    z-index: 1;
}

/* We do */
.wedo{
    display:flex;
}

.wedo__item{
    width:50%;

}
.accord__item{
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.accord__item.active 
.accord__content{
    display:block;
}
.accord__item.accord__item.active
.accord__header{
    border-bottom-color: #e5e5e5;
}
.accord__item.active 
.accord__header:after{
    transform: translateY(-50%) rotate(-45deg);
}
.accord__header{
    border-bottom: 1px solid transparent;
    padding: 15px 20px 15px 65px ;
    position: relative;
    cursor: pointer;
}
.accord__header:after{
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    margin-top: 2px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}
.accord__icon{
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}
.accord__content{
    padding: 10px 20px;
    font-size: 15px;
    color:#999;
    font-style: italic;
    font-weight: 300;
    display:none;
}
.accord__title{
    font-size:14px;
    color:#333;
    text-transform: uppercase;
}
/* Reviews */
.reviews{
    padding:0 110px;
    position: relative;
    margin: 0 auto 110px;
}
.reviews__item{
    padding-left: 255px;
    position:relative;
}
.reviews__photo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.reviews__text{
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
    color:#999;
    margin-bottom: 15px;
}
.reviews__author{
    font-size: 24px;
    color:#333;
    font-family: 'Kaushan script';
}
.reviews__author:before{
    content:"";
    background-color: red;
    width: 60px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
}
.reviews__btn{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    color: transparent;
}
.reviews__btn:after{
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    margin-top: 2px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    top: 50%;
    right: 20px;
    z-index: 1;   
}
.reviews__btn--prev{
    left: 0;
    transform: rotate(-45deg);
}
.reviews__btn--next{
    right: 0;
    transform: rotate(135deg);
}

/* Social */
.social{
    display: flex;
    justify-content: center;
}
.social__item{
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    color:#f38181;
    font-size: 30px;
    padding: 10px;
    /* top:50%; */
    /* left:50%; */
    line-height: 1px;
    transition: color .1s linear;
    transform: background .1s linear;
}
.social__item:last-child{
    border-right: 0px;
}
.social__item:hover{
    color: #fff;
    background-color: #f38181;
}

/* Logos */
.logos{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* Works */
.works{
    display: flex;
    margin-top: 105px;
}

.works__col{
   flex:1 1 0; 
}
.works__item{
    position: relative;
    background: linear-gradient(to bottom,#f38181, #fce38a) ;
}
.works__item:hover .works__img{
    opacity: .1;
}
.works__item:hover .works__info{
    opacity: 1;
}
.works__img{
    transition: opacity .2s linear;
    display: block;
    max-width: 100%;
    height: auto;
}
.works__info{
    width: 100%;
    position: absolute;
    top: 50%;
    left:0;
    z-index: 1;
    padding: 0 15px;
    transform: translate3d(0,-50%,0);
    text-align: center;
    color: white;
    opacity:0;
    transition: opacity .2s linear;
}
.works__title{
    text-transform: uppercase;
    font-size: 14px;
}
.works__text{
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

/* Clients  */
.clients{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
.clients__item{
    width:50%;
    padding: 0 145px 0 175px;
    position: relative;
    margin-bottom: 60px;
}
.clients__photo{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}
.clients__name{
    font-size: 14px;
    text-transform: uppercase;
    color:#333;
}
.clients__prof{
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color:#333;
}
.clients__txt{
    font-size: 15px;
    color:#999;
}
.clients__txt:before{
   content:"";
   display: block;
   width: 60px;
   height: 3px;
   margin: 15px 0;
   background-color: #f38181; 
}

/* Blog */

.blog{
    display: flex;
    justify-content: space-between;
}
.blog__item{
    width: 31%;
}
.blog__header{
    position: relative;
    margin-bottom: 15px;
}
.blog__photo{
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date{
    position: absolute;
    padding:10px 20px;
    bottom: 15px;
    left: -10px;
    z-index: 1;
    background-color: #95e1d3;
    font-size: 15px;
    font-style: italic;
    color:#fff;
    font-weight: 300;
    text-align: center;
    
}
.blog__content{
    margin-bottom: 10px;
}
.blog__date--day{
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
}
.blog__title{
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
.blog__title a{
    color: inherit;
    text-decoration: none;
}
.blog__title a:hover{
    text-decoration: underline;
}
.blog__text{
    font-size: 15px;
    color:#999;
}
.blog__footer{
    border-top: 1px solid #e5e5e5;
    padding-top: 14px;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color:#999;

}
.blog__stat__item{
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
}
.blog__stat__item img{
    vertical-align: middle;
}

/* Map */
.map{
text-align: center;
}
.map__title{
font-size: 24px;
color:#f38181;
font-weight: 700;
/* vertical-align: center; */
margin: 15px auto 0;
}
.map__title a{
    color:inherit;
    text-decoration: none;
    text-transform: uppercase;
}
.map__title a:hover{
    text-decoration: underline;
}
.map__title:after{
   content: "";
   display: block;
   width: 60px;
   height:3px;
   margin: 20px auto;
   background-color: #f38181; 
}

/* footer */
.footer{
   padding-top: 65px;
   background-color: #f8f8f8; 
}
.footer__logo{
    font-size: 40px;
    font-weight: 700;
    color:#ccc;
    margin-bottom: 30px;
}
.footer__inner{
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
}
.footer__col--first{
    width: 40%;
    justify-content: space-between;
}
.footer__col--sec{
    width: 29%;
}
.footer__col--third{
    width: 22%;
}
.footer__text{
    font-size: 15px;
    color:#999;
    margin-bottom: 30px;
}
.footer__social{
    margin-bottom: 40px;
}
.footer__social-header{
font-size: 14px;
color:#333;
border-bottom:1px solid #e5e5e5 ;
padding-bottom: 15px;
}
.footer__social-header b{
    font-size: 18px;
}
.footer__social-content{
    padding-top: 15px;
    font-size: 15px;
    color: #999;
    font-weight: 300;
    font-style: italic;
}
.footer__social-content a{
    color: #95e1d3;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.footer__title{
    text-transform: uppercase;
    color:#333;
    font-size: 14px;
    margin: 30px 0;

}

/* Subscribe */
.subscribe{
    width: 100%;
    max-width: 380px;
    display: flex;
}
.subscribe__input{
    width: 60%;;
    height: 40px;
    padding:12px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
    font-family: 'Montserrat',sans-serif;
    color:#333;
}
.subscribe__input:placeholder{
    color:#ccc;
}
.subscribe__btn{
    width:40%;
    padding:12px 30px; 
    font-family: 'Montserrat',sans-serif;
    height: 40px;
    background-color: #95e1d3;
    border: 0;
    cursor: pointer;
    line-height: 1.1;
    font-size: 14px;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    transition: background .3s linear;
}
.subscribe__btn:hover{
    cursor: pointer;
    background-color: #68afa2;
}
.subscribe__btn:focus{
    outline: none;
}
.subscribe__input:focus{
    outline: none;
    border-color: #c2f5ec;
}

/* Blogs */
.blogs{

}
.blogs__item{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.blogs__img{
    /* width: 100%; */
    max-width: 120px;
    height: 80px;
}
.blogs__content{
    padding-left: 20px;
}
.blogs__title{
    color:#333;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    line-height: 1.5;
    margin-bottom: 5px;
}
.blogs__title:hover{
    text-decoration: underline;
}
.blogs__date{
    font-size: 13px;
    color:#999;
    font-style: italic;
    font-weight: 300;
}

/* Instagram */
.instagram{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.instagram__item{
    /* flex: 1 1 0; */
    width: 32.5%;
    border-bottom: 1px solid #fff;
}
.instagram__item img{
    display: block;
}
/* Copyright */

.copyright{
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 14px;
    color:#333;

}
.copyright span{
    color:#f38181;
}